body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player,
.computer {
  width: 100%;
  background-color: rgb(35, 121, 192);
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-family: "Righteous", sans-serif;
  font-size: 30px;
  padding: 20px 50px;;
  border: 0 solid black;
  border-radius: 5px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.2s;
}

.computer button {
  cursor: default;
}

.rock-button {
  background: rgb(250,70,22);
}

.paper-button {
  background: rgb(154,205,50);
}

.scissors-button {
  background: rgb(138, 43, 226);
}

.random-button {
  background: rgb(212, 175, 55);
}

/* .player button:hover {
  transform: translate(3px, 3px);
  box-shadow: 6px 6px;
} */

.selected {
  transform: translate(8px, 8px);
  box-shadow: 0 0;
  background: rgb(255, 255, 78);
  color: purple;
}

.score {
  width: 100%;
  background-color:   rgb(145, 144, 144);
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score p {
  color: white;
}

.computer {
  width: 100%;
  background-color: rgb(238, 75, 75);
  flex: 4;
  display: flex;
}